# ── Python (Módulo 3) ──────────────────────────────────────────────
venv/
__pycache__/
*.pyc
*.pyo
 
# ── Node.js (Microservicio QR - Módulo 1) ──────────────────────────
node_modules/
npm-debug.log*
 
# ── .NET / C# (Módulo 1) ───────────────────────────────────────────
bin/
obj/
*.user
*.suo
 
# ── Variables de entorno (NUNCA subir al repo) ──────────────────────
.env
*.env.local
appsettings.Development.json
