# Python (Módulo 3)
venv/
.venv
__pycache__/
*.pyc

# Node.js (Módulo QR)
node_modules/
npm-debug.log

# Variables de entorno y llaves
.env
*.local
*.pem

# IDEs
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db
